/*========== google fonts========= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 100px auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*=========== banner part ===========*/
.banner_container {
    background-image: url('./img/banner/banner2.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.article_part {
    width: 90%;
    text-align: right;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.banner_titile {
    font-size: 65px;
    width: 525px;
}

.banner_descrip {
    width: 494px;
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 26px;
}

.contact_btn {
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
}


/*=========== failures section =========*/
.failures_container {
    width: 1072px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.failure_title {
    width: 288px;
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 47px;
}

.failure_des {
    width: 416px;
    margin-bottom: 16px;
    font-size: 16px;
}

.items_icons {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 16px;
}

.fa-check {
    margin-right: 10px;

    color: #16D887;
}


/* ==========plans section========= */
.plan_title {
    text-align: center;
    margin-bottom: 80px;
    font-size: 40px;
    font-weight: 700;
}

.plan_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column {
    text-align: center;
}

/* ========mindset section======== */
.mindset {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('./img/watch.png');
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    background-blend-mode: overlay;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mindset_title {
    color: #fff;
    width: 559px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 24px;
}


/* ========contact section ======== */
.contact_bg{
    background-image: url('./img/istockphoto-879441788-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
.contact_title{
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    padding: 10px;
}
.contact_container{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.contact_option{
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    
}
.contact_option h4, h5{
    color:rgba(0, 0, 0, 0.694)
}
.contact_option:hover{
    border: 1px solid #F15B22;
}
.contact_option a{
    color: #F15B22;
}
/* =======form======== */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form input[type="text"]{
    width: 300px;
    height: 50px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid gray;
    padding-left: 10px;
}
textarea{
    width: 300px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid gray;
    padding-left: 10px;
}
/* ========foooter section =========*/
.footer_container {
    color: #fff;
    background-color: #151414;
    padding: 100px 0;
}

.footer_part {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.future {
    font-size: 45px;
    margin-bottom: 16px;
}

.future_des {
    font-size: 16px;
    width: 485px;
    margin-bottom: 24px;
}

.email {
    margin-bottom: 16px;
}

.social_icons {
    margin-top: 32px;
}

.social_icons a {
    margin-right: 17px;
}

/* ========subscribe======= */
.subscribe {
    font-size: 25px;
    margin-bottom: 31px;
}

.subscribe_part input {
    width: 325px;
    height: 64px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-size: 18px;
    padding-left: 8px;
    margin-bottom: 16px;
    background-color: #151414;
    color: #fff;
}

.common_btn {
    width: 160px;
    height: 64px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #F15B22;
    text-transform: capitalize;
}