/*======== google fonts======= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    margin-bottom: 100px;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}

body{
    font-family: 'Poppins', sans-serif;
}
/*=========== banner part ===========*/
.banner_container{
    background-image: url('./img/banner/banner2.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.article_part{
    width:90%;
    text-align: right;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
    /* padding-right: 150px; */
    flex-direction: column;
    
}
.banner_titile{
    font-size: 65px;
    width: 525px;
}
.banner_descrip{
    width: 494px;
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 26px;
}
.contact_btn{
    display: inline-block;
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
}


/*=========== failures section =========*/
.failures_container{
    width: 1072px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img_part img{
    width: 451px;
}

.right_content{
    /* width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.failure_title{
    width: 288px;
}
.failure_des{
    width: 416px;
}
.items_icons{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 8px;
}
.fa-check{
    margin-right: 10px;
   
    color: #16D887;
}